.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.margin-top-30 {
  margin-bottom: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-right-10 {
  margin-right: 10px;
}
